@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css'); /*Noto Sans 思源黑體*/


body {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:#81DAF5;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) , url(https://wallpapercave.com/wp/wp1848050.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2,h4,h5,h6{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    color: #f4f4f4 !important;
}
p,span,li,label{
	/*font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁','微軟正黑體', sans-serif !important;*/
	/*color: #f4f4f4;*/
	font-family: 'Noto Sans TC',sans-serif !important;
}
a{
	color: #fff;
  text-decoration: none !important;
}
::selection{
	color: cyan;
}
::-moz-selection{
	color: cyan;
}
img{
      max-width:100%;
}



/*navbar*/
#nav-img{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  .nav li:after{
      content: '';
      display: block;
        border-bottom: 2px solid #38fd07;
        transform: scaleX(0);
        transition: .2s ease-in-out;
  }
  .nav li:hover:after{
         transform: scaleX(1);
  }
  .nav-link{
        color: #fff;
      font-size: 16px;
      display: flex;
    justify-content: center;
    text-align: center;
  }
  #links{
      color: #fff;
  }
  
  /*navbar ends*/



  .container {
    width: 300px;
    height:400px;
    display: flex;
    justify-content: center;
    text-align: center;

  }
  
  .card1 {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1::before {    
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

p {
  position: relative;
  color: white;  

}

.no_op{
    opacity: 100;
    z-index: 100;
}
.card1 , .card2{
    background-color: black !important;
    position: absolute;
  }
  .card2{
    position: absolute;
  }
  @media screen and (max-width: 800px) {
    .card {   
      width: 100%;
      padding: 0;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
  }

  .left, .right {
    width: 50%; 
}
  .left {
    float: left;
}
  .right {
    float: right;
}
@media screen and (max-width: 900px) {
    .right, .left {
      width: 100%;
      padding: 0;
    }
  }

  .button_link {
    color: inherit;
   }
  .button {
      background-color: transparent;
      border: 3px solid #00d7c3;
      border-radius: 50px;
      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      color: #00d7c3;
      text-decoration: none;
    }
  .button:hover {
      box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
      border: 3px solid #00d7c3;
    }
  .button:active {
      box-shadow: none;
      border: 3px solid #00d7c3;
    }
  .button:focus {
      outline: none;
      box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0
      0 0 3px #00d7c3;
      border: 3px solid #00d7c3;
    }


    h1 {
      font-size: 5.25vmin;
      text-align: center;
      color: white;
    }
    p {
      font-size: max(10pt, 2.5vmin);
      line-height: 1.4;
      color: #0e390e;
      margin-bottom: 1.5rem;
    }
    
    .wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 85vmin;
      height: 25em;
      margin: 2rem auto;
      border: 8px solid;
      transition: 0.3s ease-in-out;
      position: relative;
      overflow: hidden;
      background-color: #1b3c4c;
    }
    .overlay {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 1rem 0.75rem;
      background: #1b3c4c;
      transition: 0.4s ease-in-out;
      z-index: 1;
    }

    .overlay-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 15vmin;
      height: 100%;
      padding: 0.5rem 0 0 0.5rem;
      border: 3px solid;
      border-image: linear-gradient(
          to bottom,
          #aea724 5%,
          forestgreen 35% 65%,
          #aea724 95%
        )
        0 0 0 100%;
      transition: 0.3s ease-in-out 0.2s;
      z-index: 1;
    }

    /*image: CGH*/
    .image-content-1 {
      position: absolute;
      top: 0;
      right: 0;
      width: 60vmin;
      height: 100%;
      background-image: url("/pic/project_cgh.png");
      background-size: cover;
      transition: 0.3s ease-in-out;
      /*border: 1px solid green; */
    }

    /*image: MyIT-HTML*/
    .image-content-4 {
      position: absolute;
      top: 0;
      right: 0;
      width: 60vmin;
      height: 100%;
      background-image: url("/pic/project_myitblog.png");
      background-size: cover;
      transition: 0.3s ease-in-out;
      /* border: 1px solid green; */
    }

    /*image: HelloPhone*/
    .image-content-3 {
      position: absolute;
      top: 0;
      right: 0;
      width: 60vmin;
      height: 100%;
      background-image: url("/pic/personal_website.png");
      background-size: cover;
      transition: 0.3s ease-in-out;
      /* border: 1px solid green; */
    }

    /*image: MyIT-React*/
    .image-content-2 {
      position: absolute;
      top: 0;
      right: 0;
      width: 60vmin;
      height: 100%;
      background-image: url("/pic/myit_react.png");
      background-size: cover;
      transition: 0.3s ease-in-out;
      /* border: 1px solid green; */
    }
    
    .dots {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 55px;
      height: 4vmin;
      transition: 0.3s ease-in-out 0.3s;
    }
    .dot {
      width: 14px;
      height: 14px;
      background: yellow;
      border: 1px solid indigo;
      border-radius: 50%;
      transition: 0.3s ease-in-out 0.3s;
    }
    
    .text {
      position: absolute;
      top: 0;
      right: 0;
      width: 60vmin;
      height: 100%;
      padding: 3vmin 4vmin;
      background: #212529;
      box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
      overflow-y: scroll;
    }

    .text_color {
      color: white !important;
    }

    .wrap:hover .overlay {
      transform: translateX(-60vmin);
    }
    .wrap:hover .image-content {
      width: 30vmin;
    }
    .wrap:hover .overlay-content {
      border: none;
      transition-delay: 0.2s;
      transform: translateX(60vmin);
    }
    .wrap:hover .dots {
      transform: translateX(1rem);
    }
    .wrap:hover .dots .dot {
      background: white;
    }
    
    /* Animations and timing delays */
    .animate {
      animation-duration: 0.7s;
      animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
      animation-fill-mode: backwards;
    }
    /* Pop In */
    .pop {
      animation-name: pop;
    }
    @keyframes pop {
      0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
    
    /* Slide In */
    .slide {
      animation-name: slide;
    }
    @keyframes slide {
      0% {
        opacity: 0;
        transform: translate(4em, 0);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    
    /* Slide Left */
    .slide-left {
      animation-name: slide-left;
    }
    @keyframes slide-left {
      0% {
        opacity: 0;
        transform: translate(-40px, 0);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    
    .slide-up {
      animation-name: slide-up;
    }
    @keyframes slide-up {
      0% {
        opacity: 0;
        transform: translateY(3em);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .delay-1 {
      animation-delay: 0.3s;
    }
    .delay-2 {
      animation-delay: 0.6s;
    }
    .delay-3 {
      animation-delay: 0.9s;
    }
    .delay-4 {
      animation-delay: 1.2s;
    }
    .delay-5 {
      animation-delay: 1.5s;
    }
    .delay-6 {
      animation-delay: 1.8s;
    }
    .delay-7 {
      animation-delay: 2.1s;
    }
    .delay-8 {
      animation-delay: 2.4s;
    }
    
