@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); /*Noto Sans 思源黑體*/


body {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:#81DAF5;
    background: url(https://cdn.discordapp.com/attachments/1066946486232944720/1079270691309879345/animebg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2,h4,h5,h6{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    color: #f4f4f4;
}
p,a,span,li,label{
	/*font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁','微軟正黑體', sans-serif !important;*/
	/*color: #f4f4f4;*/
	font-family: 'Noto Sans TC',sans-serif !important;
	color: #fff;
}
a{
	color: #fff;
  text-decoration: none !important;
}
::selection{
	color: cyan;
}
::-moz-selection{
	color: cyan;
}
img{
      max-width:100%;
}



/*navbar*/
#nav-img{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  .nav li:after{
      content: '';
      display: block;
        border-bottom: 2px solid #38fd07;
        transform: scaleX(0);
        transition: .2s ease-in-out;
  }
  .nav li:hover:after{
         transform: scaleX(1);
  }
  .nav-link{
        color: #fff;
      font-size: 16px;
      display: flex;
    justify-content: center;
    text-align: center;
  }
  #links{
      color: #fff;
  }
  
  /*navbar ends*/



  .container {
    width: 300px;
    height:400px;
    display: flex;
    justify-content: center;
    text-align: center;

  }
  
  .card1 {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1::before {    
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

p {
  position: relative;
  color: #000;  

}

.no_op{
    opacity: 100;
    z-index: 100;
}
.card1 , .card2{
    background-color: black !important;
    position: absolute;
  }
  .card2{
    position: absolute;
  }
  @media screen and (max-width: 800px) {
    .card {   
      width: 100%;
      padding: 0;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
  }

  .left, .right {
    width: 50%; 
}
  .left {
    float: left;
}
  .right {
    float: right;
}
@media screen and (max-width: 900px) {
    .right, .left {
      width: 100%;
      padding: 0;
    }
  }

  .button_link {
    color: inherit;
   }
  .button {
      background-color: transparent;
      border: 3px solid #00d7c3;
      border-radius: 50px;
      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      color: #00d7c3;
      text-decoration: none;
    }
  .button:hover {
      box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
      border: 3px solid #00d7c3;
    }
  .button:active {
      box-shadow: none;
      border: 3px solid #00d7c3;
    }
  .button:focus {
      outline: none;
      box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0
      0 0 3px #00d7c3;
      border: 3px solid #00d7c3;
    }
