@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css'); /*Noto Sans 思源黑體*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

  body {
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:#81DAF5;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) ,  url(https://cdn.discordapp.com/attachments/1066946486232944720/1079270691309879345/animebg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .background2 {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:#81DAF5;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) ,  url(https://cdn.discordapp.com/attachments/913027869536559144/1089007343074807928/cute-girl-drinking-a-cofee-in-a-cozy-coffee-shop-anime-key-visual-anime-screenshot-artstation-studio-ghibli_3O8TOmmC_upscaled_2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .background3 {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:#81DAF5;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) ,  url(https://cdn.discordapp.com/attachments/913027869536559144/1089008373971816489/bg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .background4 {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:#81DAF5;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) ,  url(https://cdn.discordapp.com/attachments/913027869536559144/1089008755494109224/bg4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1,h2,h4,h5,h6{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    color: #f4f4f4 !important;
}
p,a,span,li,label{
	/*font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁','微軟正黑體', sans-serif !important;*/
	/*color: #f4f4f4;*/
	font-family: 'Noto Sans TC',sans-serif !important;
	color: #fff;
}
a{
	color: #fff;
  text-decoration: none !important;
}
::selection{
	color: cyan;
}
::-moz-selection{
	color: cyan;
}
img{
	max-width:100%;
}


/*navbar*/
#nav-img{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.nav li:after{
	content: '';
	display: block;
	  border-bottom: 2px solid #38fd07;
	  transform: scaleX(0);
	  transition: .2s ease-in-out;
}
.nav li:hover:after{
	   transform: scaleX(1);
}
.nav-link{
	  color: #fff;
    font-size: 16px;
    display: flex;
  justify-content: center;
  text-align: center;
}
#links{
	color: #fff;
}

/*navbar ends*/


/*avarar*/
.img-circle-small {
  width: 100px;
  height:90px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 2px;
}
.status{
  width: 16px;
  height:16px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  position: absolute;
  background-color: green; /*means onlne*/

}
.temp{
  position: relative;
  display: inline-block;
}
.topRight{
  top: 0;
  right: 0;
}
/*avatar ends*/

/*type writer:name*/
.name {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

.name {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
/*type writer ends*/

/*content*/
.container {
  width: 500px;
  height:400px;
  display: flex;
  justify-content: center;
  text-align: center;

}
.child {
  width: 800px;
  height: 10px;
}
.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
}
@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}
/*content ends*/


/*button*/
.button_link {
  color: inherit;
 }
.button {
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
    text-decoration: none;
  }
.button:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
  }
.button:active {
    box-shadow: none;
    border: 3px solid #00d7c3;
  }
.button:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0
    0 0 3px #00d7c3;
    border: 3px solid #00d7c3;
  }
/*button ends*/

