@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css'); /*Noto Sans 思源黑體*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

  body {
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background: radial-gradient(circle, #322538, #1f1f1f);
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ) ,  url(https://wallpapercave.com/wp/wp1848050.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h1,h2,h4,h5,h6{
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  color: #f4f4f4 !important;
}
p,a,span,li,label{
	/*font-family: 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁','微軟正黑體', sans-serif !important;*/
	/*color: #f4f4f4;*/
	font-family: 'Noto Sans TC',sans-serif !important;
	color: #fff;
}
p1 {
	font-family: 'Noto Sans TC',sans-serif !important;
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: justify;
	text-justify: inter-ideograph;
}
a{
	color: #fff;
  text-decoration: none !important;
}
::selection{
	color: cyan;
}
::-moz-selection{
	color: cyan;
}
img{
	max-width:100%;
}


/*navbar*/
#nav-img{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}


nav {
  position: absolute;
  top: 5%;
  right: 50;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

nav a:nth-child(4):before {
  background-color: purple;
}

nav a:nth-child(4):after {
  background-color: palevioletred;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #05b20b;
  border-radius: 5px;
  transition: 0.3s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 62%;
  background: linear-gradient(130deg, purple, palevioletred);
}

nav a:nth-child(4):hover ~ #indicator {
  left: 84%;
  background: linear-gradient(130deg, purple, palevioletred);
}

/*navbar ends*/


/*avarar*/
.img-circle-small {
  width: 100px;
  height:90px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 2px;
}
.status{
  width: 16px;
  height:16px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  position: absolute;
  background-color: green; /*means onlne*/

}
.temp{
  position: relative;
  display: inline-block;
}
.topRight{
  top: 0;
  right: 0;
}
/*avatar ends*/

/*type writer:name*/
.name {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

.name {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
/*type writer ends*/

/*content*/
.container {
  width: 500px;
  height:400px;
  display: flex;
  justify-content: center;
  text-align: center;

}
.child {
  width: 800px;
  height: 10px;
}
.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
}
@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}
/*content ends*/




.btn {
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.8;
  background-color: aquamarine !important;
  color: #fff;
}

.btn::after {
  color: #fff;
}

.button_link {
  color: #0dcaf0;
  text-decoration: none;
}

